<!DOCTYPE html>
<meta charset="utf-8" />
<style>
.axis {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.axis.y line {
  stroke-dasharray: 2,4
}
.label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: #aaa;
}
path.domain {
  stroke: none;
}
.bubble {
  stroke: white;
  fill-opacity: 0.75;
}
.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
  pointer-events: none;
  position: absolute;
}
.col-sm-6 {

    height:970px;
    background-color: #bfc3d4;
}
#dash,.col-sm-2,.col-sm-10 {

    height:130px;
}
.col-sm-5 , .col-sm-1 {

     height:970px;
     background-color: #bfc3d4;
}

#map { height: 876px; }
body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
.ghbtns { position: relative; top: 4px; margin-left: 5px; }
a { color: #0077ff; }
#fl {
   top:1%;

}
#slider{

    top:12px;
}
#selectY{
    top:27%;
    transform: rotate(-90deg);
};
#selectX{
    width: 153px;
    left: 316px;
    height:48%;
};
#col5{
  height:600px;

}
#col4{
  height:120px;
  left:30%;

}
#col3{
    height:180px;
    left:20%

}
p{

    color:yellow;
}

</style>
<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Light Bootstrap Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" /><meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/assets/img/favicon.ico">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Light Bootstrap Dashboard by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" /> -->

    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
 <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
 <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="https://d3js.org/colorbrewer.v1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script
  src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"
  integrity="sha256-/2tw2EWTMuKYJ22GFr6X5vPF1kkl5mb75npmfM4JUPU="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<body>
<div class="container-fluid">
  <div class="row" id="dash" style="background-color:#435681;">
    <div class="col-sm-2">
        <div id="mover" style="margin-top:5%;">
        <p class="text-left" class="font-italic" style="font-size:x-large;">Visualization and</p>
        <p class="text-left" class="font-italic" style="font-size:x-large;">Visual Analytics Lab</p>
      </div>
    </div>

    <div class="col-sm-10">

      <nav class="navbar navbar-dark" style="background-color: #435681;top:24%;">
         <a class="navbar-brand" href="#">
            <img src="/js/halifax.gif" width="100" height="40" alt="" style="margin-top:-11%">

         </a>
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Index</a>
            <a class="nav-link" href="#">Heat map</a>
            <a class="nav-link" href="#">Correlation</a>
            <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">


      </nav>

    </div>


  </div>
  <div class="row">
    <div class="col-sm-1" >
      <div class="ui-field-contain" id="selectY">
      <select name="select-custom-20" id="select-custom-20" data-native-menu="false">
        <option value="AL">POI</option>
        <option value="AK">POI2</option>
    </select>
</div>

    </div>
    <div class="col-sm-5">

      <div class="row" id="col5"></div>
      <div class="row" id="col4">
        <div class="ui-field-contain" id="selectX" style="width: 153px;
        left: 316px;">
   
      <select name="select-custom-1" id="select-custom-1" data-native-menu="false" >
          <option value="1">DAURDWELL2</option>
      </select>
        </div>

      </div>
      <div class="row" id="col3">
          <div id="slider"></div>
      </div>


</div>
<div class="col-sm-6">
  <div id="map"></div>
  <script>
    $(()=>{
     //  var j=jQuery.noConflict();
     //  j("#slider").slider({
     //   range: false,
     //   min: 0,
     //   max: 10,
     //   step: 1
     // });

    $("#slider").slider();

      // var map = L.map('map').setView([44.755113, -63.320488], 9);
      // var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      // attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      // }).addTo(map);
      //
      // var geojs=<%-diss%>
      // console.log(geojs);
      // var style = (feature) => {
      // return {
      //
      //       //fillColor:color2(feature.properties.DAUID),
      //       weight:0.5,
      //       opacity:1,
      // };
      //
      // }
      // var geoLayer=L.geoJSON(geojs,{style: style}).addTo(map);
      //
      // mainFunc(geoLayer);
      // $( "#select-custom-20" ).change(function() {
      //     alert( "Handler for .change() called." );
      //     caller(geoLayer,map);
      //   });


//       var ris2=<%- ri %>;
//       var ind2=ris2['ran']
//
//       var color2 = d3.scaleOrdinal()
//          // .domain(["Sub-Saharan Africa", "South Asia", "Middle East & North Africa", "America", "Europe & Central Asia", "East Asia & Pacific"])
//          .domain(ind2)
//          .range(colorbrewer.RdBu[9])
//
//       console.log(color2("12090858"))
//
//   var map = L.map('map').setView([44.755113, -63.320488], 9);
//   var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
//       attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
//   }).addTo(map);
//   var geojs=<%-diss%>
//   console.log(geojs);
//   var style = (feature) => {
//       return {
//
//             fillColor:color2(feature.properties.DAUID),
//             weight:2,
//             opacity:1,
//       };
//
//   }
//   var geoLayer=L.geoJSON(geojs,{style: style}).addTo(map);
//
//   geoLayer.eachLayer(function (layer) {
//   if(layer.feature.properties.DAUID == '12090678') {
//     layer.setStyle({fillColor :'red',opacity:10,weight:5})
//     console.log('updated');
//   }
// });


    });

  </script>
</div>
</div>

</div>
<script type="text/javascript">


var map = L.map('map').setView([44.755113, -63.320488], 9);
var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);

var geojs=<%-diss%>
console.log(geojs);
var style = (feature) => {
return {

      //fillColor:color2(feature.properties.DAUID),
      weight:0.5,
      opacity:1,
};

}
var geoLayer=L.geoJSON(geojs,{style: style}).addTo(map);
var getColor = (val) => {
      return val>=0 && val<=0.05 ? '#ffffff':
             val>0   && val <0.1 ? '#fc8d59':
             val>=0.1 && val < 0.4 ? '#ef6548':
             val>=0.4 && val < 0.6 ? '#d7301f':
             val>=0.6 && val < 0.8 ? '#b30000':
             val>=0.8 && val <= 1 ? '#7f0000':
             val<0   &&  val >=-0.1 ? '#74a9cf':
             val<-0.1 && val >=-0.4 ? '#3690c0':
             val<-0.4 && val >= -0.6 ? '#0570b0':
             val<-0.6 && val >= -0.8 ? '#045a8d':
                                      '#023858';

};
//mainFunc(geoLayer);
$( "#select-custom-20" ).change(function() {
    //alert($('#select-custom-20').find(":selected").text() );
    var query1=$('#select-custom-1').find(":selected").text();
    var query2=$('#select-custom-20').find(":selected").text();
    alert(query2);
    alert(query1);
    //map.removeLayer(geoLayer);

    // var geojs=<%-diss%>
    // console.log(geojs);
    caller(query1,query2);
     //geoLayer=L.geoJSON(geojs).addTo(map);
  });

  $("#select-custom-1").change(function(){

    var query1=$('#select-custom-1').find(":selected").text();
    var query2=$('#select-custom-20').find(":selected").text();
    alert(query1,query2);
    caller(query1,query2);

  });

var layers;
var maps;
var setLayer = (geoLayer) => {
    layers=geoLayer;
    maps=map;
};
var getLayer = () => {

  return layers;
}
var getMap = () => {

  return maps;

}


var svg;
// var getColor = (val) => {
//       return val>=0 && val<=0.05 ? '#ffffff':
//              val>0   && val <0.1 ? '#fc8d59':
//              val>=0.1 && val < 0.4 ? '#ef6548':
//              val>=0.4 && val < 0.6 ? '#d7301f':
//              val>=0.6 && val < 0.8 ? '#b30000':
//              val>=0.8 && val <= 1 ? '#7f0000':
//              val<0   &&  val >=-0.1 ? '#74a9cf':
//              val<-0.1 && val >=-0.4 ? '#3690c0':
//              val<-0.4 && val >= -0.6 ? '#0570b0':
//              val<-0.6 && val >= -0.8 ? '#045a8d':
//                                       '#023858';
//
// };
var ris2=<%- ri %>;
var ind2=ris2['ran']

var color2 = d3.scaleOrdinal()
   // .domain(["Sub-Saharan Africa", "South Asia", "Middle East & North Africa", "America", "Europe & Central Asia", "East Asia & Pacific"])
   .domain(ind2)
   .range(colorbrewer.RdBu[9])

console.log(color2("12090858"))

// var map = L.map('map').setView([44.755113, -63.320488], 9);
// var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
// attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
// }).addTo(map);
// var geojs=<%-diss%>
// console.log(geojs);
// var style = (feature) => {
// return {
//
//       //fillColor:color2(feature.properties.DAUID),
//       weight:0.5,
//       opacity:1,
// };
//
// }
// var geoLayer=L.geoJSON(geojs,{style: style}).addTo(map);

// geoLayer.eachLayer(function (layer) {
// if(layer.feature.properties.DAUID == '12090678') {
// layer.setStyle({fillColor :'red',opacity:10,weight:5})
// console.log('updated');
// }
// });



var ris=<%- ri %>;
var ind=ris['ran']
console.log(ind);
var margin = { top: 30, right: 10, bottom: 20, left: 70 },
  width = 800 - margin.left - margin.right,
  height = 600 - margin.top - margin.bottom

 svg = d3.select("#col5").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

var tooltip = d3.select("#col5").append("div")
  .attr("class", "tooltip")

var x = d3.scaleLinear()
  .range([0, width])

var y = d3.scaleLinear()
  .range([height, 0])

// var color = d3.scaleOrdinal()
//   .domain(["Sub-Saharan Africa", "South Asia", "Middle East & North Africa", "America", "Europe & Central Asia", "East Asia & Pacific"])
//   .range(["#66c2a5","#fc8d62","#8da0cb","#e78ac3","#a6d854","#ffd92f"])

var color = d3.scaleOrdinal()
   // .domain(["Sub-Saharan Africa", "South Asia", "Middle East & North Africa", "America", "Europe & Central Asia", "East Asia & Pacific"])
   .domain(ind)
   .range(colorbrewer.RdBu[9])

var radius = d3.scaleSqrt()
  .range([2, 80])

var xAxis = d3.axisBottom()
  .scale(x)
  //.ticks(5, d3.format(",d"))

var yAxis = d3.axisLeft()
  .scale(y)
  .tickSize(-width)

svg.append("text")
  .attr("class", "x label")
  .attr("text-anchor", "end")
  .attr("x", width)
  .attr("dx",".75em")
  .attr("y", height - 6)
  .text("Population Density");

svg.append("text")
  .attr("class", "y label")
  .attr("text-anchor", "end")
  .attr("y", 6)
  .attr("dy", ".75em")
  .attr("transform", "rotate(-90)")
  .text("Point Of Interest ");

d3.csv("/js/census1.csv", type, function (error, data) {
  if (error) throw error

  data.sort(function(a, b) { return b["DAPOP2016"] - a["DAPOP2016"] })

  var maxA=d3.max(data, function(d) { return +d["DAURDWELL2"]; })
  var minA=d3.min(data, function(d) { return +d["DAURDWELL2"]; })
  var maxB=d3.max(data, function(d) { return +d["POI"]; })
  var minB=d3.min(data, function(d) { return +d["POI"]; })

  data.forEach(function(d) {
        d["DAURDWELL2"] = ((+d["DAURDWELL2"])-(minA))/(maxA-minA);
        d["POI"] = ((+d["POI"])-(minB))/(maxB-minB);
        geoLayer.eachLayer(function (layer) {
        if(layer.feature.properties["DAUID"] == d["DAUID"]) {
        layer.setStyle({fillColor : getColor(d["DAURDWELL2"]-d["POI"]) ,color:getColor(d["DAURDWELL2"]-d["POI"]),opacity:1,fillOpacity:0.7,weight:0.5})
        console.log('updated');
        }
        });
    });

  x.domain(d3.extent(data, function(d) { return +d["DAURDWELL2"] }))
  y.domain(d3.extent(data, function(d) { return +d["POI"] }))
  radius.domain(d3.extent(data, function(d) { return d["DAPOP2016"] }))

  svg.append("g")
    .attr("class", "axis x")
    .attr("transform", "translate(" + 0 + "," + height + ")")
    .call(xAxis)

  svg.append("g")
    .attr("class", "axis y")
    .call(yAxis)

  svg.append("g")
    .attr("class", "bubbles")
    .selectAll("circle")
    .data(data)
    .enter()
    .append("circle")
    .attr("class", function(d, i) { return "bubble id-" + i})
    .attr("cx", function(d) {
      console.log(d["DAURDWELL2"])
      return x(d["DAURDWELL2"])
    })
    .attr("cy", function(d) {
      return y(d["POI"])
    })
    .attr("r", function(d) {
      return radius(Math.log(d["DAPOP2016"])+100)
    })
    .style("fill", function(d) {
      return getColor(d["DAURDWELL2"]-d["POI"])
    })



  var circ = svg.append("circle")
    .style("pointer-events", "none")
    .attr("class", "hover")
    .attr("fill", "none")
    .attr("transform", "translate(-100,-100)")

  var voronoi = d3.voronoi()
    .x(function(d) { return x(d["DAURDWELL2"]); })
    .y(function(d) { return y(d["POI"]); })
    .extent([[0, 0], [width, height]]);

  var voronoiGroup = svg.append("g")
    .attr("class", "voronoi")

  voronoiGroup.selectAll("path")
    .data(voronoi.polygons(data))
    .enter()
    .append("path")
    .attr("d", function(d, i) { return "M" + d.join("L") + "Z"; })
    .style("fill", "none")
    .style("pointer-events", "all")
    .on("mousemove", function(d, i) {
      d3.selectAll(".bubble.id-" + i).attr("stroke", "none")

      d3.selectAll(".hover")
        .attr("stroke", color(d.data["DAUID"]))
        .attr("stroke-width", 2)
        .attr("cx", x(d.data["DAURDWELL2"]))
        .attr("cy", y(d.data["POI"]))
        .attr("r", radius(Math.log(d.data["DAPOP2016"])+100))
        .attr("transform", "translate(0,0)")

        // geoLayer.eachLayer(function (layer) {
        // if(layer.feature.properties.DAUID == d.data.DAUID) {
        // layer.setStyle({fillColor :'red',opacity:10,weight:5})
        // console.log('updated');
        // }
        // });

      tooltip.html(d.data["DAUID"])
        .style("opacity", 50)
        .style("weight",4)
        .style("left", x(d.data["DAURDWELL2"]) + 15 + "px")
        .style("top", (y(d.data["POI"]) - radius(Math.log(d.data["DAPOP2016"])+100)) + 55 + "px")
    })
    .on("mouseout",  function(d) {
      d3.select(".hover").attr("stroke", "none")

      tooltip.style("opacity", 0)
    })
    .on("click", function(d){
      geoLayer.eachLayer(function (layer) {
      if(layer.feature.properties["DAUID"] == d.data["DAUID"]) {
      layer.setStyle({color:'#1fd166',opacity:80,weight:8})
      console.log('updated');
      }
      else{
        layer.setStyle({color:getColor(d["DAURDWELL2"]-d["POI"]),opacity:1,fillOpacity:0.7,weight:0.5})
      }
      });

    })
})

function type (d) {
  d["DAURDWELL2"] = +d["DAURDWELL2"]
  d["POI"] = +d["POI"]
  d["DAPOP2016"] = +d["DAPOP2016"]

  return d
}

var caller = (query1,query2)=>{

  alert('selected');

  var sQuery1=query1;
  var sQuery2=query2;

   map.removeLayer(geoLayer);
  //
  // var geojs=<%-diss%>
  // console.log(geojs);

  // geoLayer=L.geoJSON(geojs,{style: style}).addTo(map);

 //  d3.csv("/js/census1.csv", type, function (error, data) {
 //   if (error) throw error
 //
 //   data.sort(function(a, b) { return b["DAPOP2016"] - a["DAPOP2016"] })
 //
 //   var maxA=d3.max(data, function(d) { return +d["DAURDWELL2"]; })
 //   var minA=d3.min(data, function(d) { return +d["DAURDWELL2"]; })
 //   var maxB=d3.max(data, function(d) { return +d["POI"]; })
 //   var minB=d3.min(data, function(d) { return +d["POI"]; })
 //
 //   data.forEach(function(d) {
 //         d["DAURDWELL2"] = ((+d["DAURDWELL2"])-(minA))/(maxA-minA);
 //         d["POI"] = ((+d["POI"])-(minB))/(maxB-minB);
 //         geoLayer.eachLayer(function (layer) {
 //         if(layer.feature.properties["DAUID"] == d["DAUID"]) {
 //         layer.setStyle({fillColor : getColor(d["DAURDWELL2"]-d["POI"]) ,color:getColor(d["DAURDWELL2"]-d["POI"]),opacity:1,fillOpacity:0.7,weight:0.5})
 //         console.log( getColor(d["DAURDWELL2"]-d["POI"]));
 //         console.log('updated');
 //         }
 //         });
 //     });
 // });

  //geoLayer.eachLayer(function (layer) {
  //if(layer.feature.properties["DAUID"] == d["DAUID"]) {
  //layer.setStyle({fillColor : getColor(0.5) ,color:getColor(0.5),opacity:1,fillOpacity:0.7,weight:0.5})
  //console.log( getColor(d["DAURDWELL2"]-d["POI"]));
  //console.log('updated');
  //}
//  });


  //
  d3.selectAll("#col5").select("svg").remove();
  geoLayer=L.geoJSON(geojs,{style: style}).addTo(map);

  var sr = d3.select("#col5").append("svg")
   .attr("width", width + margin.left + margin.right)
   .attr("height", height + margin.top + margin.bottom)
   .append("g")
   .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

  //d3.select("#col5").remove();
  //mainFunc();
  //var sr=d3.select("svg").append("g")
  //.attr("transform", "translate(" + margin.left + "," + margin.top + ")")

  geoLayer=L.geoJSON(geojs,{style: style}).addTo(map);
  var x = d3.scaleLinear()
    .range([0, width])

  var y = d3.scaleLinear()
    .range([height, 0])

  // var color = d3.scaleOrdinal()
  //   .domain(["Sub-Saharan Africa", "South Asia", "Middle East & North Africa", "America", "Europe & Central Asia", "East Asia & Pacific"])
  //   .range(["#66c2a5","#fc8d62","#8da0cb","#e78ac3","#a6d854","#ffd92f"])

  var color = d3.scaleOrdinal()
     // .domain(["Sub-Saharan Africa", "South Asia", "Middle East & North Africa", "America", "Europe & Central Asia", "East Asia & Pacific"])
     .domain(ind)
     .range(colorbrewer.RdBu[9])

  var radius = d3.scaleSqrt()
    .range([2, 80])

  var xAxis = d3.axisBottom()
    .scale(x)
    //.ticks(5, d3.format(",d"))

  var yAxis = d3.axisLeft()
    .scale(y)
    .tickSize(-width)

  sr.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width)
    .attr("dx",".75em")
    .attr("y", height - 6)
    .text(sQuery1);

   sr.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("y", 6)
    .attr("dy", ".75em")
    .attr("transform", "rotate(-90)")
    .text(sQuery2);

  d3.csv("/js/census1.csv", type, function (error, data) {
    if (error) throw error

    data.sort(function(a, b) { return b["DAPOP2016"] - a["DAPOP2016"] })

    var maxA=d3.max(data, function(d) { return +d[sQuery1]; })
    var minA=d3.min(data, function(d) { return +d[sQuery1]; })
    var maxB=d3.max(data, function(d) { return +d[sQuery2]; })
    var minB=d3.min(data, function(d) { return +d[sQuery2]; })

    data.forEach(function(d) {
          d[sQuery1] = ((+d[sQuery1])-(minA))/(maxA-minA);
          d[sQuery2] = ((+d[sQuery2])-(minB))/(maxB-minB);
          geoLayer.eachLayer(function (layer) {
          if(layer.feature.properties["DAUID"] == d["DAUID"]) {
          layer.setStyle({fillColor : getColor(d[sQuery1]-d[sQuery2]) ,color:getColor(d[sQuery1]-d[sQuery2]),opacity:1,fillOpacity:0.7,weight:0.5})
          //console.log( getColor(d["DAURDWELL2"]-d["DATDWELL20"]));
          console.log('updated');
          }
          });
      });

    x.domain(d3.extent(data, function(d) { return +d[sQuery1] }))
    y.domain(d3.extent(data, function(d) { return +d[sQuery2] }))
    radius.domain(d3.extent(data, function(d) { return d["DAPOP2016"] }))

    sr.append("g")
      .attr("class", "axis x")
      .attr("transform", "translate(" + 0 + "," + height + ")")
      .call(xAxis)

    sr.append("g")
      .attr("class", "axis y")
      .call(yAxis)

    sr.append("g")
      .attr("class", "bubbles")
      .selectAll("circle")
      .data(data)
      .enter()
      .append("circle")
      .attr("class", function(d, i) { return "bubble id-" + i})
      .attr("cx", function(d) {
        //console.log(d["DAURDWELL2"])
        return x(d[sQuery1])
      })
      .attr("cy", function(d) {
        return y(d[sQuery2])
      })
      .attr("r", function(d) {
        return radius(Math.log(d["DAPOP2016"])+100)
      })
      .style("fill", function(d) {
        return getColor(d[sQuery1]-d[sQuery2])
      })


    var circ = sr.append("circle")
      .style("pointer-events", "none")
      .attr("class", "hover")
      .attr("fill", "none")
      .attr("transform", "translate(-100,-100)")

    var voronoi = d3.voronoi()
      .x(function(d) { return x(d[sQuery1]); })
      .y(function(d) { return y(d[sQuery2]); })
      .extent([[0, 0], [width, height]]);

    var voronoiGroup = sr.append("g")
      .attr("class", "voronoi")

    voronoiGroup.selectAll("path")
      .data(voronoi.polygons(data))
      .enter()
      .append("path")
      .attr("d", function(d, i) { return "M" + d.join("L") + "Z"; })
      .style("fill", "none")
      .style("pointer-events", "all")
      .on("mousemove", function(d, i) {
        d3.selectAll(".bubble.id-" + i).attr("stroke", "none")

        d3.selectAll(".hover")
          .attr("stroke", color(d.data["DAUID"]))
          .attr("stroke-width", 2)
          .attr("cx", x(d.data[sQuery1]))
          .attr("cy", y(d.data[sQuery2]))
          .attr("r", radius(Math.log(d.data["DAPOP2016"])+100))
          .attr("transform", "translate(0,0)")

          // geoLayer.eachLayer(function (layer) {
          // if(layer.feature.properties.DAUID == d.data.DAUID) {
          // layer.setStyle({fillColor :'red',opacity:10,weight:5})
          // console.log('updated');
          // }
          // });

        tooltip.html(d.data["DAUID"])
          .style("opacity", 50)
          .style("weight",4)
          .style("left", x(d.data[sQuery1]) + 15 + "px")
          .style("top", (y(d.data[sQuery2]) - radius(Math.log(d.data["DAPOP2016"])+100)) + 55 + "px")
      })
      .on("mouseout",  function(d) {
        d3.select(".hover").attr("stroke", "none")

        tooltip.style("opacity", 0)
      })
      .on("click", function(d){
        geoLayer.eachLayer(function (layer) {
        if(layer.feature.properties["DAUID"] == d.data["DAUID"]) {
        layer.setStyle({color:'#1fd166',opacity:80,weight:8})
        console.log('updated');
        }
        else{
          layer.setStyle({color:getColor(d[sQuery1]-d[sQuery2]),opacity:1,fillOpacity:0.7,weight:0.5})
        }
        });

      })
  })

  function type (d) {
    d[sQuery1] = +d[sQuery1]
    d[sQuery2] = +d[sQuery2]
    d["DAPOP2016"] = +d["DAPOP2016"]

    return d
  }
};
</script>
</body>
